<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SurveyApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>SurveyApplication.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
  
   <url-pattern>/AddQHelperServlet</url-pattern>
   <url-pattern>/AddQueServlet</url-pattern>
   <url-pattern>/DeleteServlet</url-pattern>
   <url-pattern>/DisplayQuesServlet</url-pattern>
   <url-pattern>/EditFormServlet</url-pattern>
   <url-pattern>/FormChangesServlet</url-pattern>
   <url-pattern>/LogOutServlet</url-pattern>
   <url-pattern>/StoreAnswersServlet</url-pattern>
   <url-pattern>/TakeSurveyServlet</url-pattern>
      <url-pattern>/UserInfoServlet</url-pattern>
         <url-pattern>/AddQuePopper.jsp</url-pattern>
         <url-pattern>/AdminHeader.jsp</url-pattern>
         <url-pattern>/AdminLogin.jsp</url-pattern>
         <url-pattern>/AdminOptions.jsp</url-pattern>
         <url-pattern>/CreateForm.jsp</url-pattern>
         <url-pattern>/DisplayAnswers.jsp</url-pattern>
         <url-pattern>/FormHomePage.jsp</url-pattern>
         <url-pattern>/FormList.jsp</url-pattern>
         <url-pattern>/FormOptions.jsp</url-pattern>
         <url-pattern>/GeneralHeader.jsp</url-pattern>
         
           
            <url-pattern>/SurveyForm.jsp</url-pattern>
             <url-pattern>/UserInfoSurvey.jsp</url-pattern>
             
  </filter-mapping>
  <filter>
  <filter-name>CheckFormsFilter</filter-name>
  <filter-class>SurveyApplication.CheckFormsFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>CheckFormsFilter</filter-name>
  <url-pattern>/EditFormServlet</url-pattern>
  
  </filter-mapping>
</web-app>